*
!docker-files
!{{ cookiecutter.app_name }}
{%- if cookiecutter.dockerize == "runserver" %}
!docker-compose.yml
{%- endif %}
!.coveragerc
!.pylintrc
!manage.py
!package.json
!Pipfile
!README.md
!requirements.txt
!workdir
!worker.py
!wsgi.py
